* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}

body {
    background-image: linear-gradient(to right,rgb(10, 116, 148),blue,indigo); ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 375px;
    background-color: #F4F4F4;
}

header {
    background-color: #1b83e2;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center
}

h1 {
    font-size: 24px;
    color: #f4f4f4;

}

main {
    padding: 24px;
 
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    display: block;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;

}
input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    display: block;
    outline: none;
    padding-left: 16px;
    font-size: 19px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

button {
    background: #1b83e2;
    border-radius: 25px;
    width: 100%;
    border: none;
    height: 48px;
    font-weight: bold;
    font-size: 18px;
    color: #f4f4f4;
    margin-top: 24px;
    margin-bottom: 36px;
    cursor: pointer;
}

button:hover {
    font-size: 20px;
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border-radius: 10px;
    border: 1px solid #1b83e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.currency-box {
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

}

.currency {
    color: #777777;
    font-size: 14px;

}

.currency-value {
    color: #1b83e2;
    font-weight: bold;
    font-size: 20px;
}